<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pinecone.technology.mcommerce.learning.android.chapter04"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.pinecone.technology.mcommerce.learning.android.chapter04.SampleForMCommerce"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pinecone.technology.mcommerce.learning.android.chapter04.intent.ActivityFirst"
            android:label="@string/IntentDataTransfer" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce_05" />
            </intent-filter>
        </activity>
        <activity android:name="com.pinecone.technology.mcommerce.learning.android.chapter04.intent.ActivitySecond" >
        </activity>
        <activity
            android:name="com.pinecone.technology.mcommerce.learning.android.chapter04.intent.ActionDataActivity"
            android:label="@string/ActionData" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce_05" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pinecone.technology.mcommerce.learning.android.chapter04.intent.ImplicitIntentActivity"
            android:label="@string/ImplicitIntent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce_05" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pinecone.technology.mcommerce.learning.android.chapter04.intent.ImagePickActivity"
            android:label="@string/ImagePick" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce_05" />
            </intent-filter>
        </activity>
        <activity android:name="com.pinecone.technology.mcommerce.learning.android.chapter04.intent.BasicViewActivity" >
            <intent-filter>
                <action android:name="com.pinecone.intent.action.ShowBasicView" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pinecone.technology.mcommerce.learning.android.chapter04.notification.NotificationMainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce_05" />
            </intent-filter>
        </activity>
        <activity android:name="com.pinecone.technology.mcommerce.learning.android.chapter04.notification.HandleNotificationActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pinecone.technology.mcommerce.learning.android.chapter04.alarm.TestAlarmsDriverActivity"
            android:label="@string/alarm" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce_05" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pinecone.technology.mcommerce.learning.android.chapter04.broadcastReceiver.TestBCRActivity"
            android:label="@string/broadcast_send" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce_05" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pinecone.technology.mcommerce.learning.android.chapter04.broadcastReceiver.MySendBroActivity"
            android:label="@string/broadcast_register" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce_05" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pinecone.technology.mcommerce.learning.android.chapter04.broadcastReceiver.BatteryChangedActivity"
            android:label="@string/broadcast_battery" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce_05" />
            </intent-filter>
        </activity>

        <receiver android:name="com.pinecone.technology.mcommerce.learning.android.chapter04.broadcastReceiver.TestReceiver" >
            <intent-filter android:priority="4000" >
                <action android:name="com.pinecone.technology.mcommerce.learning.android.chapter04.RECEIVER_ACTION" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.pinecone.technology.mcommerce.learning.android.chapter04.broadcastReceiver.TestTimeDelayReceiver" >
            <intent-filter>
                <action android:name="com.pinecone.technology.mcommerce.learning.android.chapter05.RECEIVER_ACTION" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.pinecone.technology.mcommerce.learning.android.chapter04.broadcastReceiver.TestReceiver2" >
            <intent-filter android:priority="2000" >
                <action android:name="com.pinecone.technology.mcommerce.learning.android.chapter04.RECEIVER_ACTION" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.pinecone.technology.mcommerce.learning.android.chapter04.broadcastReceiver.NetworkStateReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.pinecone.technology.mcommerce.learning.android.chapter04.broadcastReceiver.MyPhoneReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" >
                </action>
            </intent-filter>
        </receiver>
    </application>

</manifest>