<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.weibo"
    android:versionCode="1"
    android:versionName="1.0" >  
     
    <uses-sdk android:minSdkVersion="8" 
			  android:targetSdkVersion="8"/>
    
    <!-- 必须 -->
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- com.tencent.weibo。demo 中的 WeiBoAPIV1Activity 和 WeiBoAPIV2Activity 在测试上传带图片微博使用 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    
    <application
        android:icon="@drawable/logo_qweibo"
        android:label="@string/app_name" >
        <activity
            android:name=".demo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        
        <activity
            android:name=".demo.OAuthV1Activity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".demo.WeiBoAPIV1Activity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name=".demo.OAuthV2ImplicitGrantActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name=".demo.WeiBoAPIV2Activity"
            android:label="@string/app_name" >
        </activity>
        
        <!-- OAuth Version 1.0 使用 WebView 辅助授权必须 -->
        <activity
            android:name="com.tencent.weibo.webview.OAuthV1AuthorizeWebView"
            android:label="@string/app_name" >
        </activity>
        
        <!-- OAuth Version 2. 使用  WebView 辅助进行ImplicitGrant方式授权必须 -->
        <activity
            android:name="com.tencent.weibo.webview.OAuthV2AuthorizeWebView"
            android:label="@string/app_name" >
        </activity>
        
        
    </application>
    

</manifest>