<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.mcommerce.sample.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="9" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PRIVILEGED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity android:name=".SampleForMCommerce" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter03.TaoBaoAPITestActivity"
            android:label="@string/activity_taobao_api" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter04.TextViewActivity"
            android:label="@string/activity_textView" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter04.TextViewWebActivity"
            android:label="@string/activity_textView_web" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter04.TableLayoutActivity"
            android:label="@string/activity_table_layout" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter04.AbsoluteLayoutActivity"
            android:label="@string/activity_absolute_layout" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter04.FrameLayoutActivity"
            android:label="@string/activity_frame_layout" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter04.RelativeLayoutActivity"
            android:label="@string/activity_relative_layout" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter04.LinearLayoutActivity"
            android:label="@string/activity_linear_layout" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter05.SimpleEventActivity"
            android:label="@string/activity_simple_event" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter05.ActivityFirst"
            android:label="@string/activity_IntentDataTransfer" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce" />
            </intent-filter>
        </activity>
        <activity android:name=".chapter05.ActivitySecond" >
            <intent-filter>
                <action android:name="com.android.activity.MY_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter05.CallIntentsActivity"
            android:label="@string/activity_implicitIntent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter05.EditTextActivity"
            android:label="@string/activity_editText" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter05.EditTextSearchActivity"
            android:label="@string/activity_editText_search" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter05.RadioGroupActivity"
            android:label="@string/activity_radioGroup" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter05.CheckBoxActivity"
            android:label="@string/activity_checkBox" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter06.SpinnerActivity"
            android:label="@string/activity_spinner" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter06.ProgressBar1"
            android:label="@string/activity_progressbar1" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter06.ProgressBar2"
            android:label="@string/activity_progressbar2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter06.AsyncTaskActivity"
            android:label="@string/activity_AsynTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter06.HandlerActivity"
            android:label="@string/activity_Handler" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter06.ThreadActivity"
            android:label="@string/activity_Thread" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter06.SimpleListViewActivity"
            android:label="@string/activity_ListView" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter07.ImageViewActivity"
            android:label="@string/activity_ImageView" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter07.SharedPreferencesActivity"
            android:label="@string/activity_SharedPreferences" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce" />
            </intent-filter>
        </activity>
        <activity android:name=".chapter07.SharedPreferencesGetter" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter07.BasicContentProviderActivity"
            android:label="@string/activity_BasicContentProvider" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter07.ContactsActivity"
            android:label="@string/activity_QuickContacts" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter07.SQLiteActivity"
            android:label="@string/activity_SQLite" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter08.BrowserViewActivity"
            android:label="@string/activity_BrowerView" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter08.Oauth2TaobaoActivity"
            android:label="@string/activity_OauthTaobao" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce" />
            </intent-filter>
        </activity>
        <activity android:name=".chapter08.UserInfoActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.mcommerce.sample.android.chapter08.WebViewActivity"
            android:label="@string/activity_WebView" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="SampleForMCommerce" />
            </intent-filter>
        </activity>
    </application>

</manifest>