<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pinecone.technology.mcommerce.learning.android.chaptor09.dataloader"
    android:versionCode="1"
    android:versionName="1.0" >

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="com.pinecone.technology.mcommerce.learning.android.chaptor09.dataloader.DatabaseDemo"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <fragment
            android:name=".AddEmployee"
            android:label="Add Employee" >
        </fragment>
        <fragment
            android:name=".EmployeesList"
            android:label="Employees" >
        </fragment>
    </application>

    <uses-sdk android:minSdkVersion="16" />

</manifest>